<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.tiaozhan">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 打电话  com.example.android.promoter-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 访问精确位置的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 视频 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- 分享 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <!-- 头条适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1155180417099409#challenge" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 百度地图key   0xRmvPDRXDbj1Ql18OgKQIZpT6jmCTnH      Yz5uvU8Py7osTziEDWgWYTAXOVDCIsXC-->
        <!-- 百度地图key   我的笔记本电脑     Yz5uvU8Py7osTziEDWgWYTAXOVDCIsXC-->
        <!-- 百度地图key   PTYCdEUWs1aeKG3y5tvWuIL3RBuZCwq1  -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Yz5uvU8Py7osTziEDWgWYTAXOVDCIsXC" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":mult"
            tools:node="replace">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.example.android.tiaozhan.DataProvider"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.tiaozhan.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".Main"
            android:screenOrientation="fullSensor"
            android:theme="@style/DefaultCityPickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/DefaultCityPickerTheme" />
        <activity
            android:name=".Denglu.DengluActivity"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Denglu.ZhuCeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Denglu.WangJiActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Denglu.GRXXActivity"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Denglu.BangDingActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Denglu.XiugaiXXActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.RenWuActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.FenXiangActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.ShopActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.ShopListActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.TianjiaDizhiActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Denglu.TiaoKuanActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.XiaoxiActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.HomeHDXQActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.HomeZhifuActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.HomeZhifuCGActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.HomeGRTXActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.HomeShopJiluActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.JuBaoActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.FaqiTiaozhanActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Home.ChuangguanActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/DefaultCityPickerTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Home.CGXXActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.StartTimeActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.YaoqingActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.JLGZActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.CGGZActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Wonderful.JingcaiItemActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Nearby.SearchActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.MyhuodongActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.PingjiaActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.MyJinbiActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.JBMXActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.MyQianbaoActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.QBMXActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.MyTIxianActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".My.TXCGActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.TJYHKActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.QBMXItemActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.MyHaoyouActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.MyJingcaiActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.MyGuanzhuActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.Setup.MyShezhiActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.Setup.MyAnquanOneActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.Setup.MyAnquanTWOActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.Setup.MyTXMMActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.Setup.MyTXMMTwoActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.Setup.AnquanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.Setup.MyXGMMActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.Setup.GHSJActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.Setup.GHSJTwoActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.Setup.GHSJThreeActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.Setup.SMRZActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.Setup.SMRZTwoActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.Setup.YSSZActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.Setup.HMDActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.About.AboutActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.About.AboutMyActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.About.AboutSMActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.HelpActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.YJFKActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.FQTZXiangmuActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Wonderful.MainJingcaiItemActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Wonderful.JCFBActivity"
            android:screenOrientation="fullSensor" />
        <!-- 广播 -->
        <receiver
            android:name=".Toos.NewMyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.example.android.tiaozhan" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Wonderful.PaisheActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"

            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx60e2e2539670b0e5" />
            </intent-filter>
        </activity>
        <activity
            android:name=".My.MyPaihang"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.TXJieguoActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.HDJGActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.DituActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/DefaultCityPickerTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".My.Friends.LiaoTianActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.XiaoxiItem"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.HomeSousuoActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.MyDSBActivity"
            android:screenOrientation="fullSensor" />
        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5ad2c727f29d9826c40002c1" />

        <activity android:name=".Home.HomeTYJBActivity" />

        <!-- 地图 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name=".Home.TousuActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.JBMXItemActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.JBMXItemTwoActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".wxapi.SplashActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".GuideActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.CGPJActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.TuiguangHomeActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterONEActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterTWOActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.MyPromoterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterFJCGActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromterDDActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterYTGActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterDCLActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterCGXXActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterXQActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterLSActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterSSActivity"
            android:screenOrientation="fullSensor" />

        <service android:name=".Toos.luyin.RecordingService" />

        <activity
            android:name=".Promoter.PromoterCLActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.MyOpponentPaiHangActivity"
            android:screenOrientation="fullSensor" />
        <!-- 下面是环信的 -->

        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".My.PingjiaTwoActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.HZCGActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.HomeGzsmActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.ChangguanItem"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".Promoter.PromoterErrorActivity"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".Promoter.PromoterShowActivity"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".Promoter.PromoterMyMoneyActivity"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".Promoter.PromoterMoneyDetailActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterMymoneyItemActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterNewsListActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterXiaoxiItemActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterClzTsActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterFcgXXActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterGDPJActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".reserve.ReserveCGDetailsActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterTXianActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.referee.MyCwRefereeActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.referee.RefereePerfectXXActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.referee.RefereeXmLvActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".My.referee.RefereeUpdateActivity"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".Home.HomeReserveCGDetailsActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.BonelwaListYActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home.HomeHDTSActivity"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".Home.HomeTouSuActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Promoter.PromoterTouSuActivity"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".Toos.cityselectordemo.activity.CityListActivity"
            android:screenOrientation="fullSensor" />



        <activity
            android:name=".Toos.fuyin.ui.ImagePreviewActivity"
            android:screenOrientation="fullSensor"
            />

        <activity
            android:name=".My.Setup.SMRZoverActivity"
            android:screenOrientation="fullSensor"
            />


    </application>


</manifest>